.content {
    column-count: 4;
    column-gap: 20px;
}

.box {
    background: #333;
    color: #fff;
    width: 100%;
    display: inline-block;
    margin: 0 0 15px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {
    .content {
        column-count: 1;
    }
}